#colophon {

}
#colophon .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#colophon .wrap div, #colophon .wrap .reseau{
    width: 30%;
}
#colophon .reseau{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#colophon .logo{
    text-align: center;
}
#colophon .logo img{
    width: 120px;
}
#nav_burger {
    background-color: #fff;
    position: absolute;
    right: -2000px;
    top: 0;
    z-index: 50;
    padding: 1rem 1rem 3rem 3rem;
    transition: all 0.5s;
    width: 100%;
}
#nav_burger .close{
    text-align: right;
    font-size: 2rem;
    color: var(--marronclair);
    cursor: pointer;
}
#nav_burger.openBurger{
    right: 0;
}
#palette {
    position: absolute;
    top: 0;
    left: -1000px;
    background-color: white;
    width: 30%;
    padding: 2rem;
    transition: all 0.5s;
}
#palette.openPalette{
    left: 0;
}
#diapo {
}
#diapo .flexslider{
    border: none;
}
#diapo .flexslider .slides li{
    position: relative;
}
#diapo .slides p{
    position: absolute;
    font-size: 4vw;
    font-weight: bold;
    z-index: 12;
    top: 45%;
    right: 2%;
    transform: rotate(-10deg);
    color: white;
}
#diapo .slides p.robotoblack{
    color: black;
}
#selecta {
}
#selecta #dropdown{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    position: relative;
}
#selecta #dropdown a{
    color: white;
    background-color: var(--vert);
    display: block;
    padding: 1rem;
}
#selecta #dropdown img{
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
}
#selecta #dropdown ul{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
#selecta #dropdown li{
    background-color: var(--marronclair);
    color: white;
    padding: 1rem;

}
#selecta #dropdown li:hover{
    background-color: var(--vert);
}
#selecta #dropdown .show{
    display: block;
}

#selecta #reponse{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#selecta #reponse .texte_ingredient{
    margin-top : 1rem;
}
#selecta #reponse .texte_ingredient h2{
    font-size: 2rem;
    font-family: robotoblack;
}
#selecta #reponse div{
    width: 49%;
}
/* RESPONSIVE */

@media screen and (max-width: 950px) {

}
@media screen and (max-width: 750px) {
    #selecta #reponse{
        flex-direction: column;
    }
    #selecta #reponse div, #selecta #reponse img{
        width: 100%;
    }
    #selecta #reponse .texte_ingredient{
        margin-bottom : 1rem;
    }
    #colophon .wrap{
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}